<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  	layout:decorator="layout/defaultLayout">
<div layout:fragment="content">  	
	<h1>Join</h1>
	<div>
		<form action="/join" method="post">
			<div><input type="text" name="uid" placeholder="아이디를 입력해주세요."></div>
			<div><input type="password" name="upw" placeholder="비밀번호를 입력해주세요."></div>
			<div><input type="text" name="email" placeholder="email을 입력해주세요."></div>
			<div><input type="text" name="nm" placeholder="이름을 입력해 주세요"></div>
			<button type="submit">회원가입</button>
			<input type="hidden" name="provider" value="mango">		
		</form>
	</div>
	<div>
		<a href="/login">로그인</a>
	</div>
</div>