<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
	<h1>Login</h1>
	<div>
		<form th:action="@{/login}" method="post" th:object="${userEntity}">
			<div>
				<input type="text" th:field="*{uid}" placeholder="id를 입력해주세요." autofocus>
			</div>
			<div>
				<input type="password" th:field="*{upw}"
					placeholder="password를 입력해주세요.">
			</div>
			<button type="submit">로그인</button>			
		</form>
	</div>
	
	<div>
		<a href="javascript:;" class="btn_social" data-social="facebook">페이스북 로그인</a>
		<a href="javascript:;" class="btn_social" data-social="google">구글 로그인</a>
		<a href="javascript:;" class="btn_social" data-social="kakao">카카오톡 로그인</a>
		<a href="javascript:;" class="btn_social" data-social="naver">네이버 로그인</a>
	</div>
	
	<div>
		<a href="/join">회원가입</a>
	</div>

	<script> 
		let socials = document.getElementsByClassName('btn_social')
		for(let social of socials) { 
			social.addEventListener('click', function(){ 
				let socialType = this.getAttribute('data-social')
				location.href="/oauth2/authorization/" + socialType 
			}) 
		} 
	</script>
</body>
</html>