<!DOCTYPE html>
<html lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/topBottomLayout">
	
	<!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/admin/listRestaurant.css}" >
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script defer th:src="@{/js/admin/listRestaurant.js}"></script>
    </th:block>

	<div layout:fragment="content">
		<table>
			<tr>
				<th>번호</th>
				<th>가게명</th>				
			</tr>
			<tr th:each="item : ${data}" th:onclick="|clkArticle(${item.restPk})|">
				<th th:text="${item.restPk}"></th>
				<th th:text="${item.restNm}"></th>
			</tr>
		</table>
		
		<script th:inline="javascript">
			function clkArticle(restPk) {
				if(!restPk) { return }
				location.href = `/admin/detailRestaurant?restPk=${restPk}`
			}
		</script>
	</div>
</html>