<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.mango.admin.AdminMapper">
	<insert id="insRestaurant" useGeneratedKeys="true" keyProperty="restPk">
		INSERT INTO t_restaurant
		( restNm, addr, lat, lng, tel )
		VALUES
		( #{restNm}, #{addr}, #{lat}, #{lng}, #{tel} )
	</insert>
	
	<insert id="insRestaurantMenuInfo">
		INSERT INTO t_restaurant_menu_info
		( restPk, menuNm, menuPrice )
		<foreach item="item" collection="list" separator=",">
			( #{restPk}, #{item.menuNm}, #{item.menuPrice} )
		</foreach>
	</insert>
	
	<insert id="insRestaurantMenuImg">
		INSERT INTO t_restaurant_menu_img
		( restPk, img )
		VALUES
		( #{restPk}, #{img} )
	</insert>
	
	<select id="selRestaurantList" resultType="RestaurantEntity">
		SELECT * FROM t_restaurant
		ORDER BY restPk DESC
	</select>
	
	<select id="selRestaurant" resultType="RestaurantEntity">
		SELECT * FROM t_restaurant
		WHERE restPk = #{restPk}
	</select>
	
	<select id="selRestaurantMenuInfo" resultType="RestaurantMenuInfoEntity">
		SELECT * FROM t_restaurant_menu_info
		WHERE restPk = #{restPk}
	</select>
	
	<select id="selRestaurantMenuImg" resultType="RestaurantMenuImgEntity">
		SELECT * FROM t_restaurant_menu_img
		WHERE restPk = #{restPk}
	</select>
	
	<delete id="delRestaurantMenuInfo">
		DELETE FROM t_restaurant_menu_info
		WHERE restPk = #{restPk}
	</delete>
	
	<delete id="delRestaurantMenuImg">
		DELETE FROM t_restaurant_menu_img
		WHERE restPk = #{restPk}
	</delete>
</mapper>